@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Poiret One', bold;
    font-weight: 600;
}

body{
    margin: 0;
    background-image: url(/public/background_lighthouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    /*background: linear-gradient(to right, #00AAFF, #7c7c7c6c);*/
}
title {
    width: 200px;
    height: 200px;
    background: rgba(116, 116, 116, 0.308);
    position: absolute;
    justify-self: center;
    display: flex;
    font-size: 35px;
    padding: 25px;
    border-radius: 25px;
    justify-content: center;
    animation-name: example;
    animation-duration: 6s;  
    animation-direction: alternate;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    opacity: 0%;
    top: 0px;
  }


  @keyframes example {
    25% {top: 0px; opacity: 100%;}
    100% {top: 170px; opacity: 0%; animation-play-state: paused; color: white;}
  }
.calculator-grid{
    display: grid;
    justify-content: center;
    margin-top: 8rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .35);
    border-radius: 25px;
    margin: 5px;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, .9);
}

.span-zwei{
    grid-column: span 2;
}

.output{
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px;
    margin-bottom: 15px;
}

.output .vorheriger-operator{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .jetztiger-operator{
    color: white;
    font-size: 2.5rem;
}
